p {
    color: green;
}

h1{
    color: maroon;
}

* {
    border: 1px solid red;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

#article-title{
    font-family: cursive;
}

a[href*='florence'] {
    color: lightgreen;
}
