body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png);
}

.header {
    background-color: cornflowerblue;
    text-align: center;
}

.about-me {
    opacity: 50%;
}

.title {
    font-weight: bold;
}

h1 {
    color: azure;
}
